@import "../../assets/style/variables.scss";

.user-col-container {
  background-color: $extra_light;
  min-height: 50vh;

  .accordion-button {
    background-color: $main-blue;
    color: white;

    &:focus {
      -webkit-box-shadow: 4px 4px 20px -5px rgba(88, 88, 88, 1);
      -moz-box-shadow: 4px 4px 20px -5px rgba(88, 88, 88, 1);
      box-shadow: 4px 4px 20px -5px rgba(88, 88, 88, 1);
    }

    &:not(.collapsed) {
      -webkit-box-shadow: 0px 1px 0px 0px rgba(88, 88, 88, 1);
      -moz-box-shadow: 0px 1px 0px 0px rgba(88, 88, 88, 1);
      box-shadow: 0px 1px 0px 0px rgba(88, 88, 88, 1);
    }
  }
  .accordion-item {
    background-color: $modals-bg;
    border-color: $dim-gray;
  }
}

// USER FORM SECTION

.user-form-container {
  .user-form {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 90%;
    }
    @media screen and (min-width: 992px) {
      width: 70%;
    }
    .form-floating {
      .form-control {
        background-color: $input_bg;
      }
    }

    .username-input {
      width: 55%;
      @media screen and (min-width: 768px) {
        width: 74%;
      }
    }

    .user-date-picker {
      width: 43%;

      @media screen and (min-width: 768px) {
        width: 25%;
      }
      .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
        background-color: $input_bg;
      }
    }

    .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
      background-color: #ffffff00;
      top: 12px;
    }

    .bottom-form-section {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 460px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .form-check {
        color: white;
        font-size: 0.9em;
        margin: 0;
      }

      .form-button {
        font-size: 1em;
        margin-top: 10px;

        @media screen and (min-width: 460px) {
          margin-top: 0;
        }
      }
    }
  }
}

// USER TICKETS SECTION

.user-ticket-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 8px;
    height: 9px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: $silver;
    border: 1px solid #ccc;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: white;
    border: 1px solid $davys-gray;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22add4, #1e98ba);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    font-weight: 400;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: $ph-orange;
  }

  .user-movie-card {
    background: $input_bg;
    box-shadow: 0px 6px 18px rgba(190, 190, 190, 0.199);
    min-width: 210px;
    max-width: 210px;
    margin: 1em;
    border-radius: 10px;
    display: inline-block;
    transition: 0.2s;

    &:hover {
      -webkit-transform: scale(1.03);
      transform: scale(1.03);
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
      transition: 0.2s;
    }

    @media screen and (min-width: 768px) {
      min-width: none;
      max-width: none;
      width: 250px;
    }
    .user-movie-img {
      max-width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  .user-movie-header {
    padding: 0;
    margin: 0;
    height: 367px;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .header-icon-container {
    position: relative;
  }

  .user-movie-content {
    padding: 18px 18px 20px 18px;
    margin: 0;
  }

  .user-movie-content-header,
  .user-movie-info {
    display: table;
    width: 100%;
  }

  .user-movie-title {
    font-size: 16px;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      font-size: 17px;
    }
  }

  .our-logo {
    width: 50px;
    height: 25px;
    background: url("../../assets/imgs/cinemaLogo.png") no-repeat;
    background-size: contain;
    display: table-cell;
    float: right;
    position: relative;
    margin-top: 5px;
  }

  .user-movie-info {
    margin-top: 1em;
  }

  .user-info-section {
    display: table-cell;
    text-transform: uppercase;
    text-align: center;
  }

  .user-info-section:first-of-type {
    text-align: left;
  }

  .user-info-section:last-of-type {
    text-align: right;
  }

  .user-info-section label {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5em;
    font-size: 10px;
    font-weight: 600;

    @media screen and (min-width: 768px) {
      font-size: 11px;
    }
  }

  .user-info-section span {
    font-weight: 700;
    font-size: 11px;

    @media screen and (min-width: 768px) {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 500px) {
    .user-movie-card {
      width: 95%;
      max-width: 95%;
      margin: 1em;
      display: block;
    }
  }
}

// USER PREFERENCES SECTION

.preferences-container {
  color: $white;

  h5.preferences-title {
    font-size: 0.9em;

    @media screen and (min-width: 576px) {
      font-size: 1.2em;
    }

    @media screen and (min-width: 768px) {
      font-size: 1.4em;
    }

    @media screen and (min-width: 992px) {
      font-size: 1.5em;
    }
  }

  h6.preference-item,
  h6.switch-items-title {
    font-size: 0.8em;
    width: fit-content;
    padding: 3px 6px;
    background-color: $davys-gray;

    @media screen and (min-width: 576px) {
      font-size: 1em;
    }

    @media screen and (min-width: 768px) {
      font-size: 1.2em;
    }

    @media screen and (min-width: 768px) {
      font-size: 1.4em;
    }
  }

  p.preference-desc {
    font-size: 0.7em;

    @media screen and (min-width: 576px) {
      font-size: 0.8em;
    }

    @media screen and (min-width: 768px) {
      font-size: 0.9em;
    }
  }

  label.color-picker {
    font-size: 0.7em;
    text-decoration: underline;

    @media screen and (min-width: 576px) {
      font-size: 0.8em;
    }

    @media screen and (min-width: 768px) {
      font-size: 0.9em;
    }
  }

  .form-check {
    @media screen and (min-width: 768px) {
      margin-top: 10px;
    }

    .form-check-label {
      font-size: 0.68em;

      @media screen and (min-width: 576px) {
        font-size: 0.9em;
      }

      @media screen and (min-width: 768px) {
        font-size: 1em;
      }
    }

    .form-check-input {
      &:checked {
        background-color: $ph-orange !important;
        border-color: $white;
        box-shadow: none;
      }

      &:focus {
        -webkit-box-shadow: 0px 0px 12px 1px rgba(180, 141, 0, 1);
        -moz-box-shadow: 0px 0px 12px 1px rgba(180, 141, 0, 1);
        box-shadow: 0px 0px 12px 1px rgba(180, 141, 0, 1);
        color: black;
      }
    }

    &:first-of-type label::after {
      @media screen and (min-width: 768px) {
        font-size: 0.8em;
        color: $silver;
        content: "  -  with toggle on, you accept our terms and conditions policy";
      }
    }
  }

  .logout-button {
    color: white;
    font-size: 0.9em;
    background-color: $davys-gray;
    padding: 7px 24px;
    transition: 0.3s;

    &:hover {
      font-size: 0.95em;
      background-color: dimgray;
      padding: 6px 24px;
      transition: 0.3s;
    }
  }
}
