@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

$silver: #adadad;
$dim-gray: #707070ff;
$davys-gray: #525252ff;
$night: #0f0f0f;
$black: #080708ff;
$main-blue: #212529;
$ph-orange: #f2bd00;
$ph-darker-orange: #b48d00;
$red-th: #941b0c;
$blue-th: #18206f;
$green-th: #0a8754;
$white: #fff;

//fonts:

$caption: "Inter Tight", sans-serif;
