@import "../../assets/style/variables.scss";

.check-out-container {
  min-height: 80vh;

  .check-out-title {
    color: $white;
  }

  hr {
    color: $silver;
  }

  .check-out-card {
    color: $white;
    //background-color: #d3d3d371;
    background-color: rgba(89, 131, 252, 0);
    background-image: linear-gradient(
      180deg,
      rgba(89, 131, 252, 0) 25%,
      rgba(90, 90, 90, 1) 85%
    );

    @media screen and (min-width: 476px) {
      background-image: linear-gradient(
        180deg,
        rgba(89, 131, 252, 0) 40%,
        rgba(90, 90, 90, 1) 85%
      );
    }

    @media screen and (max-width: 767px) {
      border-top: none;
    }

    @media screen and (min-width: 768px) {
      background-color: #626262;
    }

    .card-img {
      width: 40%;
      max-width: 225px;
      box-shadow: -13px 0 8px -8px black, 13px 0 8px -8px black;
    }

    .card-body {
      .card-title {
        font-size: 1.5em;

        @media screen and (min-width: 992px) {
          font-size: 1.7em;
        }
      }
      .card-text {
        font-size: 1em;
      }

      .genre {
        font-size: 0.75em;
        color: $ph-orange;
        background-color: $black;

        @media screen and (min-width: 476px) {
          font-size: 0.9em;
        }
      }

      .card-data {
        font-size: 12px;
        @media screen and (min-width: 992px) {
          font-size: 0.9em;
        }
      }

      .movie-data {
        width: 90%;
      }
    }
  }

  .check-out-main {
    *,
    *::after,
    *::before {
      box-sizing: border-box;
    }

    .seat-selection-title {
      color: white;
    }

    .movie-spec {
      background-color: rgba(211, 211, 211, 0.116);

      p.movie-name {
        color: white;
        font-size: 1.1em;
        font-weight: 500;
      }
    }

    ul {
      color: white;
      background-color: rgba(211, 211, 211, 0.116);

      li {
        font-size: 0.8em;
      }
    }

    .Cinema {
      background-color: rgba(211, 211, 211, 0.116);
      perspective: 430px;
      padding-bottom: 30px;
      display: grid;
      place-items: center;
      grid-gap: 24px;
      transition: 0.2s;
    }

    .Cinema.unclickable {
      transition: 0.2s;
      pointer-events: none;
      opacity: 0.3;
    }

    .Cinema .screen {
      height: 70px;
      background: white;
      width: 80%;
      transform: rotateX(-30deg) scale(1.1);
      box-shadow: 0 3px 10px 2px;
    }

    .Cinema .seats {
      display: grid;
      grid-gap: 4px;
      grid-template-columns: repeat(8, min-content);
      align-items: center;
    }

    .Cinema .seats .seat:nth-of-type(8n + 2) {
      margin-right: 12px;
    }

    .Cinema .seats .seat:nth-of-type(8n + 6) {
      margin-right: 12px;
    }

    .Cinema .seats .seat:not(.occupied):hover,
    .Cinema .seats .seat:not(.occupied):focus {
      cursor: pointer;
      background: #c1eac5;
      transform: scale(1.2);
    }

    .Cinema .seats .seat.selected::after {
      content: "";
      position: absolute;
      top: 0;
      left: 2px;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background: transparent;
      border: 1px solid #7bc47f;
      animation: show-off 0.8s;
      visibility: hidden;
    }

    @keyframes show-off {
      0% {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
      }

      100% {
        transform: scale(3);
        opacity: 0;
      }
    }

    .seat {
      display: inline-block;
      background: #626262;
      width: 16px;
      height: 12px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      transition: transform 0.3s ease-in-out;

      position: relative;
      top: 1px;
    }

    .seat.selected {
      background: #7bc47f !important;
    }

    .seat.occupied {
      background: #cfcfcf;
    }

    .info .count {
      color: #7bc47f;
    }

    .info .total {
      color: #7bc47f;
    }

    .right-row-container {
      margin-top: 20px;
    }

    .right-row-container.one {
      @media screen and (min-width: 768px) {
        height: 497px;
        margin: 0;
        margin-bottom: 10px;
        margin-top: 0px;
      }

      @media screen and (min-width: 1200px) {
        height: 499px;
      }
    }

    .right-row-container.two {
      @media screen and (min-width: 768px) {
        height: 600px;
        margin: 0;
        margin-bottom: 10px;
        margin-top: 0px;
      }

      @media screen and (min-width: 1200px) {
        margin-bottom: 33px;
      }
    }

    .right-row-container.three {
      @media screen and (min-width: 768px) {
        height: 473px;
        margin: 0;
        margin-bottom: 10px;
        margin-top: 0px;
      }

      @media screen and (min-width: 992px) {
        height: 448px;
      }

      @media screen and (min-width: 1200px) {
        height: 450px;
      }
    }

    .date-container,
    .recap-container {
      color: white;
      background-color: rgba(211, 211, 211, 0.116);
      max-width: 400px;
      .hour-select {
        width: 50%;
        font-size: 0.75em;
        border-radius: 5px;
        padding: 4.8px;
        background-color: rgb(221, 221, 221);

        @media screen and (min-width: 576px) {
          font-size: 0.8em;
        }

        @media screen and (min-width: 768px) {
          font-size: 0.7em;
          width: 60%;
        }

        @media screen and (min-width: 992px) {
          font-size: 0.85em;
        }
      }

      .date-picker-custom {
        width: 50%;
        max-height: 30px;

        @media screen and (min-width: 768px) {
          width: 60%;
        }
      }

      .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
        font-size: 0.75em;

        @media screen and (min-width: 576px) {
          font-size: 0.8em;
        }

        @media screen and (min-width: 768px) {
          font-size: 0.7em;
        }

        @media screen and (min-width: 992px) {
          font-size: 0.85em;
        }
      }

      .css-i4bv87-MuiSvgIcon-root {
        font-size: 0.7em;

        @media screen and (min-width: 576px) {
          font-size: 0.8em;
        }

        @media screen and (min-width: 992px) {
          font-size: 0.85em;
        }
      }

      .MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        width: 50%;
        margin-bottom: 0 !important;
        border-radius: 5px;
        background-color: rgb(221, 221, 221);

        @media screen and (min-width: 768px) {
          width: 60%;
        }
      }

      label {
        font-size: 0.8em;
        font-weight: 500;

        @media screen and (min-width: 576px) {
          font-size: 0.9em;
        }

        @media screen and (min-width: 768px) {
          font-size: 0.7em;
        }

        @media screen and (min-width: 992px) {
          font-size: 0.85em;
        }
      }

      h6,
      p {
        font-size: 0.8em;

        @media screen and (min-width: 576px) {
          font-size: 0.9em;
        }

        @media screen and (min-width: 768px) {
          font-size: 0.8em;
        }

        @media screen and (min-width: 992px) {
          font-size: 0.9em;
        }
      }

      .check-out-button {
        font-weight: 500;
        font-size: 0.9em;
      }
    }
  }
}

.isLoading {
  opacity: 0;
  transition: 0.4s;
}

.row-loader {
  transition: 0.4s;
}

.authModal {
  width: 45%;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  .modal-title {
    font-size: 1.3em;
  }
}

.checkout-loader-container {
  position: absolute;
  top: 45%;
  bottom: 0;
  left: -65px;
  right: 0;
  margin: auto;
  .loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    color: #fff;
    left: -100px;
    box-sizing: border-box;
    animation: shadowRolling 2s linear infinite;
  }

  @keyframes shadowRolling {
    0% {
      box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0),
        0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }
    12% {
      box-shadow: 100px 0 white, 0px 0 rgba(255, 255, 255, 0),
        0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }
    25% {
      box-shadow: 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0),
        0px 0 rgba(255, 255, 255, 0);
    }
    36% {
      box-shadow: 120px 0 white, 110px 0 white, 100px 0 white,
        0px 0 rgba(255, 255, 255, 0);
    }
    50% {
      box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
    }
    62% {
      box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white,
        110px 0 white;
    }
    75% {
      box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
        130px 0 white, 120px 0 white;
    }
    87% {
      box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
        200px 0 rgba(255, 255, 255, 0), 130px 0 white;
    }
    100% {
      box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
        200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
    }
  }
}

.checkout-top-column {
  .cout-btn {
    width: 135px;
    padding: 5px 8px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 22px;
    border-color: $dim-gray;
    font-size: 12px;
    font-weight: 500;
    background-color: $silver;
    -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    position: relative;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

    @media screen and (min-width: 476px) {
      width: 150px;
      font-size: 14px;
    }
    @media screen and (min-width: 576px) {
      width: 160px;
      font-size: 14px;
    }

    @media screen and (min-width: 768px) {
      width: 170px;
      padding: 7px 11px;
      font-size: 14px;
    }

    &:hover {
      background-color: $dim-gray;

      .span-tag {
        margin-right: 0;
        transition: 0.3s;
      }
    }

    .span-tag {
      margin-right: 10px;
      transition: 0.3s;
    }
  }

  .cout-btn .icon.icon-round {
    border-radius: 50%;
  }

  .cout-btn .icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    font-size: 14px;
    bottom: 0;
    background: #fff;

    @media screen and (min-width: 768px) {
      width: 37px;
      font-size: 18px;
    }

    .card-btn-icon {
      color: black;
    }
  }
}
