@import "../../../assets/style/variables.scss";

.confirmation-modal {
  background-color: $modals-bg;

  .btn-close {
    background-color: $white;
  }

  .modal-content {
    color: $white;
    background-color: $main-blue;

    h4.modal-section {
      font-size: 1.1em;
    }

    .movie-section-container {
      background-color: $extra_light;
      .small-img-modal {
        width: 50px;
        border-radius: 8px;
      }

      .modal-data.movie {
        font-size: 0.65em;
        margin-bottom: 3px;
        margin-left: 6px;

        @media screen and (min-width: 768px) {
          font-size: 0.8em;
        }
      }

      .modal-data.movie.title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: 700;
        margin-bottom: 5px;
        @media screen and (min-width: 476px) {
          font-size: 0.8em;
          margin-bottom: 10px;
        }
      }

      .modal-data.movie.plot {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 0;
      }
    }

    .picks-section-container {
      background-color: $extra_light;
      .modal-data.picks {
        margin-bottom: 3px;
        font-size: 0.8em;
      }

      .modal-data.picks.green {
        padding: 0 5px;
        background-color: $green-th;
      }

      .modal-data.picks.blue {
        padding: 0 5px;
        background-color: $blue-th;
      }

      .modal-data.picks.red {
        padding: 0 5px;
        background-color: $red-th;
      }

      .modal-data.picks.title {
        font-weight: 700;
      }

      .picked-seat {
        margin-left: 5px;
        font-weight: 400;
      }
      .picked-date {
        font-weight: 400;
      }
      .picked-time {
        font-weight: 400;
      }
    }

    .recap-table-container {
      text-align: center;
      th {
        padding: 5px;
        font-size: 0.6em;

        @media screen and (min-width: 768px) {
          padding: 6px;
          font-size: 0.75em;
        }
        @media screen and (min-width: 992px) {
          padding: 6px;
          font-size: 0.8em;
        }
      }

      td {
        padding: 3px;
        font-size: 0.6em;
        @media screen and (min-width: 768px) {
          padding: 6px;
          font-size: 0.75em;
        }
        @media screen and (min-width: 768px) {
          padding: 6px;
          font-size: 0.8em;
        }
      }
    }
  }
}

.auth-modal {
  color: $white;
  background-color: $modals-bg;

  .btn-close {
    background-color: $white;
    margin-right: 7px;
    transform: translateY(-10px);
  }

  .modal-content {
    background-color: $main-blue;

    .modal-title {
      font-weight: 700;
    }
  }
  .desc {
    font-size: 0.9em;
    margin-top: 6px;
  }
}
