@import "../../assets/style/variables.scss";

.movie-card-container {
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 120px;
  }
  .card {
    color: $white;
    background-color: inherit;

    .row-content {
      color: $silver;
      font-size: 0.85em;
      font-weight: 600;

      &::after {
        content: "\a";
        white-space: pre;
      }

      @media screen and (min-width: 768px) {
        font-size: 0.95em;
      }
      @media screen and (min-width: 992px) {
        font-size: 1.1em;
      }
    }

    .movie-poster {
      width: 80%;
      max-width: 300px;

      @media screen and (min-width: 768px) {
        width: 29%;
      }
    }

    .card-body {
      .card-title {
        font-size: 1.7em;
        font-weight: 700;
        color: $ph-orange;
        margin-bottom: 15px;

        @media screen and (min-width: 768px) {
          font-size: 2em;
        }

        @media screen and (min-width: 992px) {
          font-size: 2.5em;
        }
      }

      .movie-company {
        font-size: 0.8em;
        font-weight: 500;
        color: #6c757d;
      }

      .card-text.genres-container {
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
          margin-bottom: 10px;
        }
        .movie-genre {
          font-size: 0.85em;
          color: $ph-orange;
          background-color: $black;

          @media screen and (min-width: 992px) {
            font-size: 1em;
          }
        }
      }

      .cast-container {
        line-height: 1.2;

        span.movie-cast-member {
          color: #6c757d;
          font-weight: 500;
          font-size: 0.8em;
        }
      }

      span.actual-plot {
        font-size: 0.8em;
        color: #a4adb4;
      }
    }

    // CSS for dynamic specs

    .specs-container {
      overflow: hidden;
    }

    .card-specs {
      background-color: #fff;
      border-radius: 10px;
      border: none;
      position: relative;
      margin-bottom: 30px;
      box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
        0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
        0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
        0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);

      .card-statistic-3 {
        transition: 0.2s;
        &:hover {
          transition: 0.2s;
          transform: scale(1.03);
        }
      }

      .card-title {
        font-size: 0.9em;
        color: $white;

        @media screen and (min-width: 768px) {
          font-size: 0.8em;
        }

        @media screen and (min-width: 992px) {
          font-size: 1.1em;
        }
      }

      h2 {
        font-size: 0.9em;
        white-space: nowrap;

        @media screen and (min-width: 768px) {
          font-size: 0.8em;
        }

        @media screen and (min-width: 1200px) {
          font-size: 1em;
        }
      }

      .card-statistic-3 .card-icon-large .icon-font,
      .card-statistic-3 .card-icon-large .far,
      .card-statistic-3 .card-icon-large .fab,
      .card-statistic-3 .card-icon-large .fal {
        font-size: 65px;

        @media screen and (min-width: 768px) {
          font-size: 75px;
        }

        @media screen and (min-width: 992px) {
          font-size: 100px;
        }
      }

      .card-statistic-3 .card-icon {
        text-align: center;
        line-height: 50px;
        margin-left: 15px;
        color: #000;
        position: absolute;
        right: -5px;
        top: 20px;
        opacity: 0.1;
      }

      .progress {
        height: 8px;
      }
    }
    .l-bg-cherry {
      background: linear-gradient(to right, #493240, #f09) !important;
      color: #fff;
    }

    .l-bg-blue-dark {
      background: linear-gradient(to right, #373b44, #4286f4) !important;
      color: #fff;
    }

    .l-bg-green-dark {
      background: linear-gradient(to right, #0a504a, #38ef7d) !important;
      color: #fff;
    }

    .l-bg-orange-dark {
      background: linear-gradient(to right, #683d09, #ffba56) !important;
      color: #fff;
    }

    .l-bg-cyan {
      background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
      color: #fff;
    }

    .l-bg-green {
      background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
      color: #fff;
    }

    .l-bg-orange {
      background: linear-gradient(to right, #f9900e, #ffba56) !important;
      color: #fff;
    }

    .l-bg-cyan {
      background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
      color: #fff;
    }
  }
}

.movie-trailer-container {
  background-color: $night;
  border-radius: 25px;

  h4 {
    color: $ph-orange;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (min-width: 768px) {
      font-size: 1.4em;
    }
    @media screen and (min-width: 992px) {
      font-size: 1.8em;
    }
  }
}

// moviepage loaders

.moviepage-loader-container {
  height: 45vh;

  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
  }
  .loader {
    color: #fff;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }

  @keyframes bblFadInOut {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
}

.trailer-loader-container {
  height: 35vh;
  .loader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
  }
  .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #ff0000;
    animation: prixClipFix 2s linear infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes prixClipFix {
    0% {
      clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
  }
}
