@import "../../assets/style/variables.scss";

.swiper-horizontal {
  background-color: $light;
  padding-top: 40px;
  margin-top: 50px;
  border-radius: 8px;
}

.slider-image {
  max-height: 200px;
  margin-bottom: 35px;
  margin-left: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 11px 9px 20px 2px rgba(37, 37, 55, 1);
  -moz-box-shadow: 11px 9px 20px 2px rgba(37, 37, 55, 1);
  box-shadow: 11px 9px 20px 2px rgba(37, 37, 55, 1);
  transition: 0.2s;

  &:hover {
    transform: scale(1.05);
    transition: 0.2s;
  }

  @media screen and (min-width: 380px) {
    margin-left: 15px;
  }
  @media screen and (min-width: 420px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 480px) {
    margin-left: 0px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 15px;
    max-height: 225px;
  }
  @media screen and (min-width: 1400px) {
    margin-left: 15px;
    max-height: 250px;
  }
}

.container.homepage {
  padding: 15px;

  .homepage-mainTitle {
    font-family: $caption;
    font-size: 4.2em;
    font-weight: 500;
    color: $ph-orange;
  }

  .homepage-secondTitle {
    font-family: $caption;
    font-size: 2.5em;
    font-weight: 700;
    color: $ph-orange;
  }
}

// SLIDER SPINNER

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #fff;
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
}
.loader::before {
  background-color: #0054b4;
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}
