@import "../../assets/style/variables.scss";

.slider-image {
  max-height: 500px !important;
  margin-bottom: 20px;
  -webkit-box-shadow: 14px 8px 24px 0px rgba(67, 68, 80, 1);
  -moz-box-shadow: 14px 8px 24px 0px rgba(67, 68, 80, 1);
  box-shadow: 14px 8px 24px 0px rgba(67, 68, 80, 1);
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
    transition: 0.3s;
  }
}

.container.homepage {
  padding: 15px;

  .homepage-mainTitle {
    font-family: $caption;
    font-size: 4.2em;
    font-weight: 500;
    color: $ph-orange;
  }

  .homepage-secondTitle {
    font-family: $caption;
    font-size: 2.5em;
    font-weight: 700;
    color: $ph-orange;
  }
}

// SLIDER SPINNER

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #fff;
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
}
.loader::before {
  background-color: #0054b4;
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}
