@import "../../assets/style/variables.scss";

.globalNavbar {
  background-color: $night;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  -webkit-box-shadow: 0px 11px 21px -7px rgba(66, 66, 66, 1);
  -moz-box-shadow: 0px 11px 21px -7px rgba(66, 66, 66, 1);
  box-shadow: 0px 11px 21px -7px rgba(66, 66, 66, 1);

  .search-main-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    max-height: 316px;
    top: 30px;
    left: 0;
    right: 0;
    text-align: center;
    width: 640px;
    background-color: white;
    padding: 0;
    z-index: 999;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }

    .results-container {
      .movie-img {
        width: 45px;
      }

      .card-title {
        font-size: 1em;
        margin-bottom: 5px;
      }

      .card-text {
        font-size: 0.8em;
      }

      .search-data-container {
        width: 15%;
        .search-movie-data {
          font-family: "Gill Sans", "Gill Sans MT", sans-serif;
          font-size: 0.9em;
        }
      }
    }
  }

  .search-main-container.expanded {
    position: absolute;
    left: 33%;
    right: 33%;
  }

  .searchbar-container {
    background-color: lightgray;
    transition: 0.1s;
    width: 100%;

    &:hover {
      background-color: rgb(179, 179, 179);

      input {
        background-color: rgb(179, 179, 179);
      }
    }

    &:focus {
      border: none;
      scale: none;
      outline: none;
      transform: scale(1.02);
      transition: 0.1s;
    }

    span {
      font-size: 18px;
      margin-bottom: 5px;
      padding: 1px 5px;

      .search-close-icon {
        opacity: 0;
        transition: 0.2s;
        &:hover {
          color: $dim-gray;
          transition: 0.2s;
        }
      }

      .is-shown {
        opacity: 1 !important;
        transition: 0.2s;
      }
    }

    input {
      width: 100%;
      background-color: lightgray;
      padding: 5px;
      padding-left: 0;
      border: none;
      font-size: 0.9em;
      transition: 0.1s;

      &:focus {
        border: none;
        scale: none;
        outline: none;
        transition: 0.1s;
        &::placeholder {
          transition: 0.1s;
          opacity: 0;
        }
      }
    }

    .search-results-container {
      position: absolute;
      bottom: -72px;
      right: 45px;
      background-color: white;
      width: 80%;
    }
  }

  a {
    width: 100%;
    color: inherit;
    text-decoration: none;
  }

  .divider {
    color: rgb(196, 196, 196);
  }

  .navbar-userLinks {
    font-size: 1em;
    color: rgb(196, 196, 196);
    transition: 0.3s;

    &:hover {
      color: rgb(172, 172, 172);
      text-decoration: underline;
      text-decoration-thickness: 1px;
      transition: 0.3s;
    }
  }

  .navbar-userCard {
    background-color: $night;
    border-color: gray;
    color: lightgray;
    transition: 0.3s;

    &:hover {
      border-color: $ph-darker-orange;
      color: white;
      transform: scale(1.01);
      transition: 0.3s;
    }

    .userCard-data {
      border-left: 1px solid $ph-darker-orange;
      padding-left: 8px;
      width: 70%;
    }

    .userCard-title {
      font-size: 0.9em;
      margin-bottom: 3px;
    }

    p {
      margin: 0;
      font-size: 0.75em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
